In [2]:
import pandas as pd

14

In [ ]:
# Dictionary of Top Scorers
wc_player = {
                'Klose':16,
                'Christiano Ronaldo':15,
                'Muller':14,
                'Lionel Messi':13,
                'Pele' : 12,
                'Kocsis':11,
                'Klinsmann':11
            }

# Series
wc_topPlayer = pd.Series(wc_player)
wc_topPlayer

# Note : Indexing on Series works like dictionary that was used to creat it
wc_topPlayer['Muller']

In [4]:
# Dictionary of Nations
nation_dict = {
                'Klose':'Germany',
                'Christiano Ronaldo':'Portugal',
                'Muller':'Germany',
                'Lionel Messi':'Argentina',
                'Pele' : 'Brazil',
                'Kocsis':'Hungary',
                'Klinsmann':'Germany'
              }
# Series
wc_topNation = pd.Series(nation_dict)
wc_topNation

Klose                   Germany
Christiano Ronaldo     Portugal
Muller                  Germany
Lionel Messi          Argentina
Pele                     Brazil
Kocsis                  Hungary
Klinsmann               Germany
dtype: object

In [6]:
# Combine two series into a single dataframe
df_wc_players = pd.DataFrame ({'Nation':wc_topNation, 'Goals':wc_topPlayer})
df_wc_players

#Note:
# The DF is indexed by player names

                       Nation  Goals
Klose                 Germany     16
Christiano Ronaldo   Portugal     15
Muller                Germany     14
Lionel Messi        Argentina     13
Pele                   Brazil     12
Kocsis                Hungary     11
Klinsmann             Germany     11

In [16]:
# Retrieving Records
#df_wc_players ['Pele']  # gives error

#Note:
# When using bracket [] notation, have to use column headings and not indices

# Retrieve using indices use 'loc'
df_wc_players.loc['Pele',:]
# we asked Pandas to give us record with index as 'Pele' and all its column

df_wc_players.loc[df_wc_players['Nation'] == 'Germany','Goals']

Klose        16
Muller       14
Klinsmann    11
Name: Goals, dtype: int64