##### List
* an ordered collection of elements(any data type) : Vector - can   access only 1 value
* specified in square brackets []
* can contain duplicates
* mutable
* iterable

In [1]:
empty_list = []
empty_list

[]

In [3]:
# Mixed list
mixed_list = [1,1,"One",1.1,True]
mixed_list

[1, 1, 'One', 1.1, True]

In [2]:
# can access values using index. starts with 0
car = ['Toyota','BMW','Mercedes']
# car[0]
# car[2]
#car[3] : list index out of range
len(car)

3

In [8]:
# read list bacwards
car[-1]

'Mercedes'

In [10]:
# Updating list
car[-2] = "Audi"
print("Updated cars are : ",car)

Updated cars are :  ['Toyota', 'Audi', 'Mercedes']

In [16]:
# Add new car
#car[3] = "Jaguar" #list assignment index out of range
# [] to access only existing element(index) in the list

# Append : argument(value)
#car.append("Jaguar")

# At specific position : insert : 2 arguments (index,value)
#car.insert(4,"Honda")

# Add mulitple values : extend  - argument(list) or use '+' operator
car.extend(["Kampa","TATA"])

print(car)

['Toyota', 'Audi', 'Mercedes', 'Jaguar', 'Honda', 'Jaguar', 'Jaguar', 'Kampa', 'TATA']

In [18]:
# Find index position
car.index("Jaguar")

3

In [27]:
# Remove
#car.remove("Jaguar")
car.pop()
car

['Toyota', 'TATA', 'Mercedes', 'Kampa', 'Jaguar', 'Honda']

In [28]:
# Sorting / Ordering
car.sort()
print("Ascending Order : ",car)
car.reverse()
car

Ascending Order :  ['Honda', 'Jaguar', 'Kampa', 'Mercedes', 'TATA', 'Toyota']

['Toyota', 'TATA', 'Mercedes', 'Kampa', 'Jaguar', 'Honda']

In [29]:
# Count : if duplicate present then count > 1
car.count("TATA")

1

In [9]:
# List inside another List
bricks=[
         ["Brazil","Brasilia",8.516,200.4],
         ["Russia","Moscow",17.10,143.5],
         ["India","New Dehli"],
         ["China","Beijing"],
         ["South Africa","Pretoria"]
        ]
print(bricks[3])  
print(bricks[3][0])

['China', 'Beijing']
China

In [12]:
print("Country" + "\t" + "Capital")
for country in bricks:
    for capital in range(len(country)):
        if capital == 1:
            print(country[capital-1] + "\t" + country[capital])
            #print(len(country))

Country	Capital
Brazil	Brasilia
Russia	Moscow
India	New Dehli
China	Beijing
South Africa	Pretoria

In [5]:
# Add all elements of a list to the another list
new_bricks = [[]]
new_bricks.extend(bricks) 
print(new_bricks)

[[], ['Brazil', 'Brasilia', 8.516, 200.4], ['Russia', 'Moscow', 17.1, 143.5], ['India', 'New Dehli'], ['China', 'Beijing'], ['South Africa', 'Pretoria']]

In [7]:
#car.append("Kampa")
#car.count("Kampa")
#car

In [34]:
# clear() - to remove all elements at one go

# copy() - copies the contect of a list to a new list : deep copy i.e. change to original list does not affect copied list
# shallow copy - using '=' operator : both variables refer to same list i.e. change to original list affects copied list

# deletes car list and it contect from memory
del car

In [2]:
num_list = [5,21,17,1,101,69]

print(sum(num_list))

# concatenates list with itseld only works with int. float will throw error
num_list*=2
num_list

214

[5, 21, 17, 1, 101, 69, 5, 21, 17, 1, 101, 69]

In [62]:
# Slicing ; works with -ve references as well

num_list[0:3] # returns first three element at index position 0,1,2

num_list[12:] # empty list => no element present

num_list[:3] # first 3 element

num_list[6:] # index 6 till the end

num_list[:] # all elements in list

[5, 21, 17, 1, 101, 69, 5, 21, 17, 1, 101, 69]

In [4]:
num_list[1:6:2] #start at index 1 end at 5 with a step size of 2

[21, 1, 69]

In [5]:
# access list in reverse order

num_list[::-1]

[69, 101, 1, 17, 21, 5, 69, 101, 1, 17, 21, 5]

In [8]:
# Adding elements at 4 index and last index
car[4:-1] = ["Ford","Dodger"]
car

['Toyota', 'BMW', 'Mercedes', 'Ford', 'Dodger']

In [9]:
'Toyota' in car   #in command

True

In [3]:
car[0] = "Audi"
car

['Audi', 'BMW', 'Mercedes']

#### Note It

In [53]:
# all function : TRUE(>0) or FALSE (0)
all([0]) # false
all(num_list) # true
all([0,1]) # false
all([]) # true

# any function
any([0]) # false
any(num_list) # true
any([0,1]) # true
any([]) # false

False